@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Nombre de lignes à afficher */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
